.title {
  text-align: center;
  font-size: 35px;
}

.booksTitle {
  font-size: 20px;
  text-align: center;
  // width: 200px;
}

.booksGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;

  margin: 0;
  position: relative;
}

.booksFlexbox {
  display: flex;
  flex-direction: column;
  justify-content: center space-between;
  border-radius: 1%;
  max-height: 350px;
  height: 350px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: black;
  align-items: center;
}

.list {
  list-style: none;
  width: 21%;
  margin: 10px;
}

.bookImage {
  width: 100%;
  max-width: 200px;
  height: 300px;
  max-height: 300px;
  border-radius: 25px;
}

.bookButton {
  border: none;
  background-color: white;
  cursor: pointer;
}
